<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
  <meta content='' name='description'>
  <title>
    <%= 'Grid React Adapter' + __TITLE_ENV__ %>
  </title>
  <% if (!__OFFLINE_MODE__) { %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <% } %>
</head>

<body>
  <div id="app">
  </div>
</body>

</html>
